---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";

import bgPlants from "#/assets/bg-plants.webp";
import bgRoots from "#/assets/bg-roots.webp";
import Container from "#/components/Container.astro";
import Map from "#/components/Map.astro";
import Text from "#/components/Text.astro";
import Layout from "#/layouts/Layout.astro";
import { sortByKey } from "#/lib/utils";

const churches = (await getCollection("churches")).sort(sortByKey("name"));
const friends = (await getCollection("friends")).sort(sortByKey("name"));
---

<Layout>
  <!-- BG Light -->
  <div class="bg-foreground">
    <Container as="section" width="wide" variant="hero">
      <Text as="h1" variant="hero">About Us</Text>
    </Container>
    <Image src={bgPlants} alt={"background image of prairiegrass plants"} />
  </div>

  <!-- BG Dark -->
  <Image src={bgRoots} alt={"background image of prairiegrass roots"} />

  <Container as="section">
    <Text as={"h2"} variant={"subSubheading"} class="text-base">
      We are a group of <a
        href="#map"
        class="text-primary hover:text-primary/90 hover-underline-animation"
      >
        like-minded churches,
      </a> partnered with one another and with other
      <a
        href="#friends"
        class="text-primary hover:text-primary/90 hover-underline-animation"
      >
        trusted organizations
      </a> to plant the gospel deep in the soil of Southern Minnesota over the next
      hundred years. We'd love for you to
      <a
        href="#join"
        class="text-primary hover:text-primary/90 hover-underline-animation"
      >
        join us!
      </a>
    </Text>
  </Container>

  <Container as="section">
    <Text
      as={"h2"}
      variant={"subSubheading"}
      class="text-base"
      id="map"
      class="scroll-mt-nav pt-lg"
    >
      Partner Churches
    </Text>
    <Map data={churches} />
    <ul class="text-secondary">
      {
        churches.map(({ data: { name, url, city } }) => (
          <li>
            <a href={url} class="underline" target="_blank">
              {name} ({city})
            </a>
          </li>
        ))
      }
    </ul>
  </Container>

  <Container as="section">
    <Text
      as={"h2"}
      variant={"subSubheading"}
      id="friends"
      class="scroll-mt-nav pt-lg text-base">Friends of Prairie Forge</Text
    >
    <ul class="text-secondary">
      {
        friends.map(({ data: { name, url } }) => (
          <li>
            <a href={url} class="underline" target="_blank">
              {name}
            </a>
          </li>
        ))
      }
    </ul>
  </Container>

  <Container as="section">
    <Text
      as={"h2"}
      variant={"subSubheading"}
      id="join"
      class="scroll-mt-nav pt-lg text-base">How to join</Text
    >
    <p class="text-secondary">
      Contact us at <a href="mailto:hello@prairieforge.org" class="underline">
        hello@prairieforge.org
      </a>
    </p>
    <p class="text-secondary">
      Download our constitution <a href="#" class="underline">here.</a>
    </p>
  </Container>
</Layout>
