---
import { Image } from "astro:assets";

import blacksmithImg from "#/assets/blacksmith.webp";
import Text from "#/components/Text.astro";
import { navItems } from "#/data/nav";
---

<div
  class="pt-lg mx-auto flex w-[90%] max-w-(--width-base) items-end justify-between"
>
  <ul class="flex flex-col gap-2 pb-4 text-base">
    {
      navItems.map((item) => (
        <>
          <li>
            <Text
              as="a"
              href={item.url}
              variant="footerHeading"
              class="hover:text-accent hover-underline-animation"
            >
              {item.label}
            </Text>
            {item.subMenu && (
              <ul class="flex flex-col ps-4">
                {item.subMenu.map((subItem) => (
                  <Text
                    as="a"
                    href={subItem.url}
                    variant="footerBase"
                    class="text-secondary border-l-secondary hover:text-accent border-l-2 pl-2"
                  >
                    {subItem.label}
                  </Text>
                ))}
              </ul>
            )}
          </li>
        </>
      ))
    }
  </ul>

  <Image src={blacksmithImg} alt={"blacksmith"} class={"size-40 sm:size-80"} />
</div>
