---
import { navItems } from "#/lib/nav";
import { Image } from "astro:assets";
import blacksmithImg from "#/assets/blacksmith.webp";
import Text from "#/components/Text.astro";
---

<div
  class="mx-auto flex w-[90%] max-w-(--width-base) items-end justify-between pt-32"
>
  <ul class="flex flex-col pb-4 text-base">
    {
      navItems.map((item) => (
        <>
          <li>
            <Text
              as="a"
              href={item.url}
              variant="footerHeading"
              class:list={[
                "hover:text-accent hover-underline-animation",
                `/${Astro.url.pathname.split("/")[1]}` === item.url &&
                  "text-accent",
              ]}
            >
              {item.label}
            </Text>
          </li>
          {item.subMenu && (
            <li class="ps-4">
              <ul class="flex flex-col">
                {item.subMenu.map((subItem) => (
                  <Text
                    as="a"
                    href={subItem.url}
                    variant="footerBase"
                    class="text-secondary border-l-secondary hover:text-accent border-l-2 pl-2"
                  >
                    {subItem.label}
                  </Text>
                ))}
              </ul>
            </li>
          )}
        </>
      ))
    }
  </ul>

  <Image src={blacksmithImg} alt={"blacksmith"} class={"size-40 sm:size-80"} />
</div>

<style>
  body:has(#vision:target),
  body:has(#vision-2:target),
  body:has(#vision-3:target),
  body:has(#vision-4:target) {
    ul a[href$="#vision"] {
      color: var(--color-accent);
    }
  }
</style>
